pytube
chromadb
faiss-cpu
openai
pdfplumber
streamlit-chat
configparser
requests
bs4
pandas
torch 
torchvision
unstructured
pdf2image
pytesseract
python-docx
plotly
PyPDF2
matplotlib
seaborn
numpy
pyperclip
openpyxl
fpdf
langchain
logger
pinecone-client
streamlit
langchain
openai
tiktoken
Cython
sentencepiece
faiss-cpu
Pillow

